*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: linear-gradient(120deg,#f6d365, #fda085);
    color: white;
    font-family: "Roboto", sans-serif;
    min-height: 10vh;
    
}
h1 {
    text-align: center;
}
.todo-input{
   max-width: 80vw;
   border-top-left-radius: 5px;
   border-bottom-left-radius: 5px;
}
form{
    display: flex;
    justify-content: center;
    
}
@media (max-width: 610px) {
    form{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    

}
@media (min-width: 610px) {
    form{
        display: flex;
        flex-direction: row;
    }
    .border {
        padding: 1vh;
    }
}
header{
    font-size: 2rem;
    display: flex;
    justify-content: center;
}
header,form{
    min-height: 20vh;

    align-items: center;
}
form input, form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background-color: white;
}
form button {
    color: #fda085;
    background: white;
    cursor: pointer;
    transition: all 0.3s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

form button:hover{
    background: #fda085;
    color: white;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5 ease;
}
.todo-list {
    min-width: 30%;
    list-style: none;
    display: flex;
    flex-direction: column;
}
.todo {
    margin: 0.5rem;
    background: white;
    color: black;
    font-size: 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.5s ease;
    max-width: 80vh;
    border-radius: 5px;
}

.todo li {
    flex: 1;
}
.del-btn, .complete-btn {
    background: #ff6f47;
    color: white;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;

}
.del-btn {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.complete-btn {
    background: #65e81a;
}
.todo-item {
    padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
    pointer-events: none;
}

.completed {
    text-decoration: line-through;
    opacity: 0.5;
    order: 99;
}
.fall{
    transform: translateY(8rem) rotateZ(20deg);
    opacity: 0;
    order: 99;
}

select{
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    border: none;
}
.select{

    position: relative;
    overflow: hidden;
    border-radius: 5px;
}
select {
    color: #ff6f47;
    width: 10rem;
    cursor: pointer;
    padding: 1rem;
    
}
.select::after{
    content: "\25bc";
    position: absolute;
    background: #ff6f47;
    top: 0;
    right: 0;
    padding: 1rem;
    pointer-events: none;
    transition: all 0.3s ease;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.select:hover::after{
    background: white;
    color: #ff6f47;
}

#logo {
    
}
#logo path:nth-child(1){
    stroke-dasharray: 363px;
    stroke-dashoffset: 363;
    animation: line-anim 2s ease forwards;
}
#logo path:nth-child(2){
    stroke-dasharray: 398;
    stroke-dashoffset: 398;
    animation: line-anim 2s ease forwards 0.3s;
}
#logo path:nth-child(3){
    stroke-dasharray: 89;
    stroke-dashoffset: 89;
    animation: line-anim 2s ease forwards 0.6s;

}
#logo path:nth-child(4){
    stroke-dasharray: 542;
    stroke-dashoffset: 542;
    animation: line-anim 2s ease forwards 0.9s;

}
#logo path:nth-child(5){
    stroke-dasharray: 398;
    stroke-dashoffset: 398;
    animation: line-anim 2s ease forwards 1.2s;
}
#logo path:nth-child(6){
    stroke-dasharray: 328;
    stroke-dashoffset: 328;
    animation: line-anim 2s ease forwards 1.5s;

}
#logo path:nth-child(7){
    stroke-dasharray: 226;
    stroke-dashoffset: 226;
    animation: line-anim 2s ease forwards 1.8s;

}
#logo path:nth-child(8){
    stroke-dasharray: 409;
    stroke-dashoffset: 409;
    animation: line-anim 2s ease forwards 2.1s;
}
#logo path:nth-child(9){
    stroke-dasharray: 292;
    stroke-dashoffset: 292;
    animation: line-anim 2s ease forwards 2.4s;
}

@keyframes line-anim{
    to{
        stroke-dashoffset: 0;
    }
}